<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="egk_40_complete" >

  <xacro:macro name="egk_40_complete" params="prefix parent px py pz rx ry rz">

    <!-- includes -->
    <xacro:include filename="$(find schunk_description)/urdf/egk_40.xacro" />
  
    <!-- Gripper's main body -->
    <xacro:egk_40 prefix="$(arg prefix)"/>
  
    <!-- Fingers -->
    <!-- TODO -->
  
    <!-- Joint connecting gripper base (gripper_body) to parent -->
    <joint name="parent_to_gripper" type="fixed">
      <parent link="$(arg parent)" />
      <child  link="$(arg prefix)gripper_body" />
      <origin xyz="$(arg px) $(arg py) $(arg pz)" rpy="$(arg rx) $(arg ry) $(arg rz)" />
    </joint>

  </xacro:macro>

</robot>
